<div bsModal #formModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" *ngIf="model">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <input type="text" name="locationSearch" [(ngModel)]="locationSearchText" id="locationSearch" class="form-control" value=""
          required="required" pattern="" title="">
        <button type="button" (click)="search(locationSearchText)" class="btn btn-default">Search Address</button>
        <ul>
          <li *ngFor="let l of locations">
            <p>{{l.formatted_address}}</p>
            <p>{{l.geometry.location.lat}}</p>
            <p>{{l.geometry.location.lng}}</p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--<button class="btn btn-primary confirm-btn" (click)="close()">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
