<ba-card title="{{title}}" [loading]="loading" baCardClass="with-scroll">
  <ng2-smart-table [settings]="settings" (create)="onCreate($event)" (edit)="onEdit($event)" [source]="source" (delete)="onDeleteConfirm($event)"
    (rowSelect)="onRowSelect($event)"></ng2-smart-table>
</ba-card>
<user-add #addModal (onSaved)="onSaved($event)"></user-add>
<user-edit #editModal (onSaved)="onSaved($event)"></user-edit>
<!--<router-outlet name="anotherList"></router-outlet>-->
<!--<router-outlet name="anotherList"></router-outlet>-->
<!--<router-outlet name="anotherList"></router-outlet>-->
<ul>
  <li *ngFor="let user of userList | async">
    {{user.name}} {{(user.companyObj |async)?.name}}
  </li>
</ul>
