<div class="widgets" *ngIf="model">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <ba-card title="Tour Info" baCardClass="with-scroll">
            <button type="button" class="btn btn-success" (click)="publish(model)" [ngClass]="{'btn-success': model.isTemp, 'btn-danger': !model.isTemp}">{{model.isTemp?'Publish':'Remove'}}</button>
            <form (ngSubmit)="saveTour()" #tourForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" [(ngModel)]="model.name" class="form-control" id="name" placeholder="Enter tour name">
              </div>
              <div class="form-group">
                <ckeditor-component [(ckeditorContent)]="model.description" [title]="'General Information About Tour'"></ckeditor-component>
              </div>
              <div class="form-group">
                <label for="productType">Tour Type</label>
                <select name="productType" class="form-control" id="productType" [(ngModel)]="model.productTypeId">
                                <option *ngFor="let productType of productTypes" [value]="productType.productTypeId">{{productType.name}}</option>
                            </select>
              </div>
              <button type="submit" class="btn btn-default" *ngIf="tourForm.form.dirty" [disabled]="!tourForm.form.valid || submitted">Save Changes</button>
            </form>
          </ba-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <productPhoto-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></productPhoto-list>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <tourSchedule-list [productBaseId]="model.productBaseId" (onRowSelectionChanged)="onTsRowSelectionChanged($event)" *ngIf="model && model.productBaseId"></tourSchedule-list>
        </div>
        <div class="col-sm-12 col-md-6">
          <tourSchedulePrice-list [tourScheduleId]="selectedTourScheduleId" *ngIf="selectedTourScheduleId"></tourSchedulePrice-list>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!--<tourScheduleSpec-list [tourScheduleId]="selectedTourScheduleId" *ngIf="selectedTourScheduleId"></tourScheduleSpec-list>-->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <tourDestination-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></tourDestination-list>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <tourProgram-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></tourProgram-list>
        </div>
      </div>
    </div>
  </div>
</div>
