<!--<ba-card title="{{title}}" [loading]="loading" baCardClass="with-scroll">
  <ng2-smart-table [settings]="settings" (create)="onCreate($event)" (edit)="onEdit($event)" [source]="source" (delete)="onDeleteConfirm($event)"
    (rowSelect)="onRowSelect($event)"></ng2-smart-table>
</ba-card>-->
<button type="button" class="btn btn-primary" (click)="onCreate(event)">
  New
</button>
<div class="row" *ngIf="source">
  <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let item of source | async">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{item.name}}</h4>
        <!--<h6 class="card-subtitle text-muted">{{(item.companyObj|async)?name}}</h6>-->
        <h6 class="card-text">{{item.description}}</h6>
      </div>
      <div class="card-block">
      </div>
      <div class="card-block">
        <a href="javascript:void(0)" (click)="onDeleteConfirm({data:item})" class="card-link">Delete</a>
        <a href="javascript:void(0)" (click)="onEdit({data:item})" class="card-link">Edit</a>
      </div>
    </div>
  </div>
</div>

