<div class="widgets">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <ba-card title="Tour Info" baCardClass="with-scroll">
            <form [formGroup]="formGroup" (ngSubmit)="save(formGroup)" *ngIf="dynamicFormModel">
              <dynamic-form-bootstrap-control *ngFor="let controlModel of dynamicFormModel" [controlGroup]="formGroup" [model]="controlModel"
                [hasErrorMessaging]="controlModel.hasErrorMessages"></dynamic-form-bootstrap-control>
              <button class="btn btn-default" *ngIf="formGroup.dirty" [disabled]="!formGroup.valid || submitted">Save Changes</button>
            </form>
          </ba-card>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-sm-12">
          <productPhoto-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></productPhoto-list>
        </div>
      </div>-->
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <tourSchedule-list [tour]="model" (onRowSelectionChanged)="onTsRowSelectionChanged($event)" *ngIf="model && model.id"></tourSchedule-list>
        </div>
        <!--<div class="col-sm-12 col-md-6">
          <tourSchedulePrice-list [tourScheduleId]="selectedTourScheduleId" *ngIf="selectedTourScheduleId"></tourSchedulePrice-list>
        </div>-->
      </div>
      <!--
      <div class="row">
        <div class="col-sm-12">
          <tourScheduleSpec-list [tourScheduleId]="selectedTourScheduleId" *ngIf="selectedTourScheduleId"></tourScheduleSpec-list>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <tourDestination-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></tourDestination-list>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <tourProgram-list [productBaseId]="model.productBaseId" *ngIf="model && model.productBaseId"></tourProgram-list>
        </div>
      </div>-->
      <div class="row">
        <div class="col-sm-12">
          <ba-card title="Tour Photo" baCardClass="with-scroll">
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Bilgi!</strong> Bu resimler uygulamanın çeşitli yerlerinde kullanılmak üzere kaydedilecek. Herbirinin
              boyutları farklı olmakla birlikte buradaki en büyük boyutu referans alarak yükleme yapınız. Performans sebebiyle
              sadece JPEG formatındaki resimler kabul edilmektedir.
            </div>
            <div class="file-upload">
              <input type="file" accept="image/jpg,image/jpeg" (change)="mainImageChangeListener($event)">
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let cs of uploaderContainer; let i=index; "  >
               
                <span>Size: {{cs.imageSize.name}} {{cs.progress}} %</span>
                <za-image-cropper #cropper [cropperSettings]="cs.cropperSettings" [ngStyle]="{display:i===(uploaderContainer.length-1)?'block':'none'}" [data]="cs.data">
                </za-image-cropper>
              </div>
            </div>
            <button class="btn btn-default" (click)="uploadMainPhotos()" [disabled]="!uploaderContainer?.length">Upload</button>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
</div>
